lib/
kubernetes-manifests/
cloud-builders-community/
docker-compose*
testbuild.yaml

/thetiptop-api/node_modules
/thetiptop-api/thetiptop-contest-data
/thetiptop-api/test-db
/thetiptop-api/__pycache__
/thetiptop-api/.env*
/thetiptop-api/Dockerfile.dev
/thetiptop-api/docker-compose.yml

/thetiptop-front/node_modules
/thetiptop-front/build
/thetiptop-front/Dockerfile.test



